body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 10%;
}

#ball {
  animation: rotating 1s linear 250ms infinite reverse;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes rotating {
  0% {transform: translateY(0%,0%);}
  50% {transform: translateY(30%,40%);}
  100% {transform: translateY(50%,80%);}
}


#girl {
  animation: girl-move 1s linear 250ms infinite alternate;
}

@keyframes girl-move {
  to {transform: translateY(0%);}
  from {transform: translateY(5%);}
}

#boy {
  animation: boy-move 1s linear 500ms infinite alternate;
}

@keyframes boy-move {
  to {transform: translateY(0%);}
  from {transform: translateY(5%);}
}

#leafs {
  animation: leafs-move 1s linear 500ms infinite alternate;
}

@keyframes leafs-move {
  to {transform: translateX(0%);}
  from {transform: translateX(1%);}
}

#orranges {
  animation: orranges-smove 1s linear 500ms infinite alternate;
}

@keyframes orranges-smove {
  to {transform: skewX(0%);}
  from {transform: skewX(3deg);}
}